## ---------------------- Python Set ---------------------------

### A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [1]:
set1 = {1, 2, 3, 8, 10, 22, 35, 44}
print(set1)

{1, 2, 3, 35, 8, 10, 44, 22}

In [2]:
# if you want define a empty set

a = set()
print(a)

set()

In [3]:
type(a)

set

In [4]:
set2 = {"Dell","Apple", "Asus", "Hp"}
print(set2)

{'Asus', 'Hp', 'Apple', 'Dell'}

In [5]:
type(set2)

set

In [6]:
# find length of Set...

print(len(set2))

4

In [7]:
# Indexing is not support in set..

print(set2)

{'Asus', 'Hp', 'Apple', 'Dell'}

In [8]:
set2[2]

TypeError: 'set' object is not subscriptable

### -------------------------- Access Items -----------------------------

In [9]:
# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a (for) loop, 
# or ask if a specified value is present in a set, by using the in keyword.

In [10]:
print(set2)

{'Asus', 'Hp', 'Apple', 'Dell'}

In [12]:
for item in set2:
    print(item)

Asus
Hp
Apple
Dell

In [13]:
# if a specified value is present in a set, by using the in keyword.

print(set2)

{'Asus', 'Hp', 'Apple', 'Dell'}

In [14]:
print("Hp" in set2)

True

### --------------------------- Add Items -------------------------------

In [15]:
# To add one item to a set use add() method.

# To add more than one item to a set use the update() method.

print(set2)

{'Asus', 'Hp', 'Apple', 'Dell'}

In [16]:
set2.add("Notebook pro")
print(set2)

{'Asus', 'Notebook pro', 'Apple', 'Dell', 'Hp'}

In [17]:
# Add multiple items to a set, using the update() method

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'cherry', 'mango', 'grapes', 'orange', 'apple', 'banana'}

### ------------------------- Remove Item ----------------------------

In [5]:
# To remove an item in a set, use the remove(), or the discard() method.

# Remove "Apple" by using the remove() method..

set2 = {"Dell","Apple", "Asus", "Hp"}

In [6]:
set2.remove("Apple")
print(set2)

{'Hp', 'Dell', 'Asus'}

In [7]:
 # If the item to remove does not exist, remove() will raise an error.

set2.remove("pendrive")

KeyError: 'pendrive'

In [8]:
#------------------ discard() method ------------------

print(set2)

{'Hp', 'Dell', 'Asus'}

In [18]:
set2.discard("Dell")
print(set2)

{'Hp', 'Asus'}

In [26]:
#  If the item to remove does not exist, discard() will NOT raise an error.

print(set2)

{'Hp', 'Asus'}

In [29]:
set2.discard("Apple") # look here don't show error...

In [30]:
print(set2)

{'Hp', 'Asus'}

### -------------------------- pop() Method ---------------------

In [31]:
# You can also use the pop(),
# method to remove an item, but this method will remove the last item.
# Remember that sets are unordered, so you will not know what item that gets removed.
# The return value of the pop() method is the removed item.

In [33]:
thisset = {'orange', 'cherry', 'apple', 'grapes', 'lech', 'banana'}

item = thisset.pop()
print(item)
print(thisset)

banana
{'apple', 'lech', 'orange', 'cherry', 'grapes'}

In [34]:
# ---------- The clear() method empties the set---------------
thisset

{'apple', 'cherry', 'grapes', 'lech', 'orange'}

In [35]:
thisset.clear()
print(thisset)  # clear all set items

set()

In [36]:
#--------------- del keyword will delete the set complately ------------
thisset = {'orange', 'cherry', 'apple', 'grapes', 'lech', 'banana'}

In [37]:
print(thisset)

{'banana', 'apple', 'lech', 'orange', 'cherry', 'grapes'}

In [38]:
del thisset
print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

### ------------------- Join Two Sets --------------------------

In [39]:
# There are several ways to join two or more sets in Python

# You can use the union() Method that returns a new set containing all items from both sets.
# The update() method that inserts all the items from one set into another.

In [40]:
# The union() method returns a new set with all items from both sets.

set1 = {"a", "b", "c", "d", "e"}
set2 = {1, 2, 3, 4, 5, 6}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 'a', 3, 4, 5, 6, 'd', 'e', 'b'}

In [41]:
# The update() method inserts the items in set2 into set1..

set1 = {"a", "b", "c", "d", "e"}
set2 = {1, 2, 3, 4, 5, 6}

set1.update(set2)
print(set1)

{1, 2, 'c', 'a', 3, 4, 5, 6, 'd', 'e', 'b'}

In [42]:
# Note: Both union() and update() will exclude any duplicate items.

### ------------------------ set() Constructor --------------------------

In [43]:
# It is also possible to use the set() constructor to make a set

thisset = set(("Dell", "Apple", "Hp", "Asus")) # note the double round-brecket
print(thisset)

{'Asus', 'Dell', 'Apple', 'Hp'}

In [45]:
#------------------------- Copy() ---------------------------

fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'cherry', 'banana'}

### -------------------- Python Set difference() -----------------------

In [46]:
# The difference() method returns a set that contains the difference between two sets.
# Return a set that contains the items that only exist in set x, and not in set y

x = {"Dell", "Apple", "Hp"}
y = {"Google", "Microsoft", "Apple"}

z = x.difference(y)
print(z)

{'Dell', 'Hp'}

In [47]:
z = y.difference(x)
print(z)

{'Google', 'Microsoft'}

### ------------------- some set operation -------------------------

In [1]:
tuple1 = (1, 2, 3, 4, 5)   # here create tuple

In [2]:
a = set(tuple1)       # tuple convert to set
print(a)

{1, 2, 3, 4, 5}

In [3]:
# Now list convert to set

li = [1, 2, 3, 4]

b = set(li)
print(b)

{1, 2, 3, 4}

In [4]:
type(b)

set

In [5]:
# Some other things

a & b   # find common value

{1, 2, 3, 4}

In [6]:
a | b   # find all both exist value in two set

{1, 2, 3, 4, 5}

In [7]:
a ^ b    # uncommon value in both set

{5}

In [8]:
7 in a

False

In [9]:
5 in b

False

In [10]:
5 in a

True

In [12]:
li = [1, 1, 3, 4, 5, 4, 2, 3, 5, 6, 7, 8]

li = set(li)   # set no need duplicate value
print(li)

{1, 2, 3, 4, 5, 6, 7, 8}