## Python Lists
####  A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [19]:
li = [1, 2, 3, 4, 5, 6, 7, 8]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
print(type(thislist))

<class 'list'>

In [22]:
print(type(li))

<class 'list'>

#### ->>> ---- List Indexing ------

In [24]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
print(li[1])

2

In [28]:
print(li[:5]) # if (:) in before of number then it's show that number of element.

[1, 2, 3, 4, 5]

In [29]:
print(li[5:])

[6, 7, 8]

In [30]:
print(li[1:6]) # here 1 is indexing number and 6 is element number

[2, 3, 4, 5, 6]

In [31]:
print(li[0:8:2])

[1, 3, 5, 7]

#### -> --- As well As if list is a string ---

In [32]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
thislist[2:5]

['cherry', 'orange', 'kiwi']

In [36]:
print(thislist[:4]) # It's showing frist 4 items

['apple', 'banana', 'cherry', 'orange']

In [37]:
print(thislist[4:]) # It's Showing without frist 4 items.

['kiwi', 'melon', 'mango']

#### -> --- Negetive Indexing Value ----

In [39]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
print(li[-7:-2]) # here (-2) is negetive indexing starting point and (-7) is element number where show ending value of list

[2, 3, 4, 5, 6]

In [45]:
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [46]:
thislist[-5:-1]

['cherry', 'orange', 'kiwi', 'melon']

In [47]:
thislist[-4:-3] # It's showing one value of list

['orange']

In [50]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
li[-0]

1

In [56]:
li[0] # comment

1

In [58]:
li[-1] # Negative Indexing start from (-1)...

8

###          ---------------------------List Method() ------------------------------
#### ==============================================================
##### -> append() --- Adds an element at the end of the list
##### -> clear()	  ---  Removes all the elements from the list
##### -> copy()	 ---  Returns a copy of the list
##### -> count()	---  Returns the number of elements with the specified value
##### -> extend()	---  Add the elements of a list (or any iterable), to the end of the current list
##### -> index()	--- Returns the index of the first element with the specified value
##### -> insert()	--- Adds an element at the specified position
##### -> pop()	    --- Removes the element at the specified position
##### -> remove() --- 	Removes the item with the specified value
##### -> reverse()	--- Reverses the order of the list
##### -> sort()      --- Sorts the list

In [59]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8]

### * append()	Adds an element at the end of the list

In [71]:
li.append(9)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [75]:
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

### *insert() --- Adds an element at the specified position

In [76]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
li.insert(10, 11) # here (10) is a position and (11) is a value

In [88]:
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [7]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [8]:
fruits.insert(2, "orange") # here "orange" set 3rd elemnt on index 2

In [9]:
print(fruits)

['apple', 'banana', 'orange', 'cherry']

#### *pop()  --->  Removes the element at the specified position and also remove last Element of list

In [14]:
list1 = [1, 3, 4, 6, 7, 12, 13, 15, 20]

In [15]:
print(list1)

[1, 3, 4, 6, 7, 12, 13, 15, 20]

In [16]:
list1.pop(5) # 5 is index number of 12...

12

In [18]:
print(list1)  # After pop list look new list..

[1, 3, 4, 6, 7, 13, 15, 20]

In [20]:
# Pop also remove last element of list if we not set the index into pop()

In [21]:
print(list1)

[1, 3, 4, 6, 7, 13, 15]

In [22]:
list1.pop()  # here pop remove last element of list

15

In [23]:
print(list1)

[1, 3, 4, 6, 7, 13]

#### -> remove() --- Removes the item with the specified value

In [33]:
list2 = [1, 3, 5, 6, 7, 9, 10, 25, 30]

In [34]:
print(list2)

[1, 3, 5, 6, 7, 9, 10, 25, 30]

In [35]:
list2.remove(25) # here remove 25 value

In [36]:
print(list2)

[1, 3, 5, 6, 7, 9, 10, 30]

In [46]:
list2.remove(2) # look here if we set wrong element of remove. show Error

ValueError: list.remove(x): x not in list

In [47]:
print(list2)

[1, 3, 7, 9, 10, 30]

In [42]:
list2.remove(6)

In [43]:
print(list2) # we also remove 5 from the list.

[1, 3, 7, 9, 10, 30]

#### --> reverse() --- Reverses the order of the list

In [48]:
list3 = [1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
list3.reverse()

In [52]:
print(list3) # look here full list is reverse...

[8, 7, 6, 5, 4, 3, 2, 1]

#### --> sort() --- Sorts the list

In [53]:
list3

[8, 7, 6, 5, 4, 3, 2, 1]

In [54]:
# look here list is a reverse position..here now using sort()

In [55]:
list3.sort()

In [56]:
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

#### -> index() --- Returns the index of the first element with the specified value

In [61]:
list4 = [2, 5, 6, 9, 11, 15, 20, 30, 45]

In [62]:
print(list4)

[2, 5, 6, 9, 11, 15, 20, 30, 45]

In [63]:
list4.index(9) # 9 index is 3...index start from 0.

3

#### -> count() --- Returns the number of elements with the specified value

In [64]:
list5 = [2, 3, 5, 6, 10, 12, 6, 7, 10, 5, 5]

In [65]:
print(list5)

[2, 3, 5, 6, 10, 12, 6, 7, 10, 5, 5]

In [66]:
list5.count(5)

3

In [67]:
list5.count(10)

2

In [68]:
list5.count(6)

2

#### *range

In [1]:
li1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
li2 = range(10, 20)  # here li2 list is create and is value is 10-20

In [3]:
print(li2)

range(10, 20)

In [4]:
li2

range(10, 20)

#### -> extend() --- Add the elements of a list (or any iterable), to the end of the current list

In [5]:
li1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
li2

range(10, 20)

In [7]:
li1.extend(li2) # here we extend list

In [8]:
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
# <----- another Exmple------------>

In [10]:
fruits = ["apple", "banana", "cherry"]

In [11]:
cars = ["Ford", "BMW", "Volvo"]

In [12]:
fruits.extend(cars)

In [13]:
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

#### -> copy() --- Returns a copy of the list

In [14]:
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [15]:
mylist = fruits.copy()

In [16]:
print(mylist)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [17]:
# <---Another way to copy list----->

In [18]:
mylist

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [20]:
newlist = mylist # here we copy my list to newlist

In [21]:
print(newlist)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

#### -> del & clear method()

In [22]:
# <-- The del keyword removes the specified index: --->

In [23]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [24]:
# <--- The del keyword can also delete the list completely: -->

In [25]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [26]:
print(thislist) # look here thislist is completely delete...

NameError: name 'thislist' is not defined

#### -> clear() --- Removes all the elements from the list

In [27]:
# <-- The clear() method empties the list: -->

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()

In [30]:
print(thislist) # look list is fully empties...

[]

#### >> Simple Program

In [31]:
# <--- find Odd / Even from the list

li = range(1, 21)

In [32]:
li

range(1, 21)

In [33]:
even = []  # declear empty even list

In [34]:
for item in li:
    if item %2 == 0:
        even.append(item)

In [35]:
even # all even value

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
# <---- Odd ----->

In [37]:
odd = []

In [38]:
for item in li:
    if item %2:
        odd.append(item)

In [39]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]