### Hi, Today I'm starting Python String coding, here I'm use some basic Function and Methods. So let's go.

In [1]:
a = "Hello World"
print(a)

Hello World

In [2]:
type(a)  #here showing what is string type.

str

In [4]:
b = 'bangladesh'

In [5]:
b

'bangladesh'

In [6]:
c = """I Love Bangladesh""" # you can also use Three double quotes in string

In [7]:
c

'I Love Bangladesh'

##### >>You can also use single quotes under the bouble quotes in string

In [8]:
str = "Adam's"

In [9]:
str

"Adam's"

In [10]:
str = "Adam\s"  # use slash
print(str)

Adam\s

##### >> If you can print string New Line use (\n)

In [14]:
text = "Hello\nWorld"
print(text)

Hello
World

##### >> If you want to use tab then use (\t)

In [1]:
text = "Hello\tWorld"
print(text)

Hello	World

##### Python Strings are same as Arrays, Every character has a index..

In [3]:
a = "Hello, World"
a[1]

'e'

In [4]:
a[0]

'H'

##### >> Slicing

In [7]:
txt = "Hello World"
txt[1:5]  #here 1st Nnmber is following index number and sceond number is element number

'ello'

In [9]:
txt[2:7]

'llo W'

In [10]:
txt[:2] # here it is showing just 1st 2 element

'He'

In [12]:
txt[:7]

'Hello W'

In [13]:
txt[2:] # This is mean the string not showing 1st 2 element

'llo World'

In [14]:
txt[9:]

'ld'

##### >> Python String Negative Indexing start from(-1), Here everyone has a one question why it is not start from (-0). The anwser is, If it is start from -0 than here got problem because -0 mein 0 (-0 = 0 ) ,for that reason it is showing 0 index and 0 index is positive indexing in String not Negative index. That's why python Negative Index Start from -1.

In [15]:
txt

'Hello World'

In [21]:
txt[-1]

'd'

In [22]:
txt[-5:-1]

'Worl'

In [24]:
txt[-7:-1]

'o Worl'

In [25]:
txt[-3:-2]

'r'

#### *** Python String has a Many Methods, here I'm showing some important method which is most use in program..

##### >>Type() Method:

In [28]:
a = "Bangladesd"
type(a)

str

##### >> len() Method. find length

In [33]:
b = "I Love PYTHON"
len(b)

13

In [34]:
a

'Bangladesd'

In [35]:
len(a)

10

##### >> find() Method..

In [37]:
a

'Bangladesd'

In [38]:
a.find('n')

2

In [39]:
print(a.find('l'))

4

In [40]:
a.find("abc") # -1 main String not found

-1

##### >> Strip() Method use for Remove spaces...

In [49]:
txt = " PYTHON "
txt

' PYTHON '

In [43]:
txt.strip()

'PYTHON'

##### >> rstrip() Method use for Remove the right side spaces..

In [48]:
txt

' PYTHON '

In [46]:
txt.rstrip()

' PYTHON'

##### >> lstrip() Method use for Remove the left side space..

In [47]:
txt

' PYTHON '

In [52]:
txt.lstrip()

'PYTHON '

##### >>lower() Method use for lowercase latter

In [55]:
txt = "PYTHON"
txt

'PYTHON'

In [56]:
txt.lower()

'python'

In [57]:
txt

'PYTHON'

In [59]:
x = txt.lower()
print(x)

python

##### >> upper() Method use for uppercase latter

In [61]:
a = 'Bangladesh'
print(a)

Bangladesh

In [62]:
a.upper()

'BANGLADESH'

In [64]:
x = a.upper()
print(x)

BANGLADESH

##### >> swapcase()	Method use for Swaps cases, lower case becomes upper case and vice versa

In [66]:
x = 'python'
x.swapcase()

'PYTHON'

In [67]:
a ='i love python'
b = a.swapcase()
print(b)

I LOVE PYTHON

##### >> replace() Method use for replaces the string by another string..

In [68]:
a = "Hello World!"
a.replace("H", "j")

'jello World!'

In [69]:
a

'Hello World!'

In [70]:
print(a.replace("o", "l"))

Helll Wlrld!

In [71]:
a

'Hello World!'

In [72]:
b = a.replace("H", "B")
b

'Bello World!'

##### >> split() method use splits the string into substrings:

In [75]:
txt = "I LOVE PYTHON"
txt

'I LOVE PYTHON'

In [76]:
txt.split()

['I', 'LOVE', 'PYTHON']

#### >>> Check String(using keyworld (in) or (not in):

In [85]:
txt = "The rain in Spain stays mainly in the Plain"
print(txt)

The rain in Spain stays mainly in the Plain

In [86]:
x = "ain" in  txt
print(x)

True

In [87]:
"Plain" in txt

True

In [88]:
txt

'The rain in Spain stays mainly in the Plain'

In [89]:
x = "stays" not in txt
print(x)

False

In [90]:
"bys" not in txt

True

##### >> String Concatention

In [2]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [3]:
c = a +" "+ b
print(c)

Hello World

##### >> format() . String format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [4]:
age = 34
txt = "My name is John and I am {}"
print(txt.format(age))

My name is John and I am 34

##### >>The format() method takes unlimited number of arguments:

In [6]:
quantity = 3
item_no = 567
price = 49.69
my_order = "I want {} pieces of item {} for dollars."
print(my_order.format(quantity,item_no,price))

I want 3 pieces of item 567 for dollars.

##### >> You can use index numbers { 0 } to be sure the arguments are placed in the correct placeholders

In [8]:
quantity = 3
item_no = 567
price = 49.69
my_order = "I want to pay {2} dollars for {0} pieces of item {1}."
print(my_order.format(quantity,item_no,price))

I want to pay 49.69 dollars for 3 pieces of item 567.

##### >>Another Example of String formating...

In [10]:
name = "Saied Anwar"
age = 24
height = 5.5
university = "Northern University Bangladesh"
vio = "Hi, My name is {}, I am {} years old. My height is {} inch, I reading at {}".format(name, age, height,university)
print(vio)

Hi, My name is Saied Anwar, I am 24 years old. My height is 5.5 inch, I reading at Northern University Bangladesh

##### >> shortcut use of format() method:

In [11]:
name = "Jhon"
apples_num = 5
print(f"{name} has {apples_num} apples")

Jhon has 5 apples

##### >> Escape Character:

In [13]:
txt = "We are the so-called \"Vikngs\" from the north."
txt

'We are the so-called "Vikngs" from the north.'